<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edgesum">
    <!-- Necessary to transfer files over Wi-Fi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Necessary to save files in external memory -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- WiFiDirect permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Google Play filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".page.network.DeviceListFragment" />
        <activity android:name=".page.network.DeviceDetailFragment" />
        <activity
            android:name=".page.network.WiFiDirectActivity"
            android:parentActivityName=".page.main.MainActivity"
 />
        <activity android:name=".page.main.DownloadActivity" />
        <activity android:name=".page.main.LoadingActivity" />
        <activity
            android:name=".page.viewuploadedvideos.ViewUploadedVideosActivity"
            android:parentActivityName=".page.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.edgesum.page.main.MainActivity" />
        </activity>
        <activity
            android:name=".page.setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".page.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.edgesum.page.main.MainActivity" />
        </activity>
        <activity
            android:name=".page.authentication.AuthenticationActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service android:name=".util.video.summariser.SummariserIntentService" />

        <!-- Used for transferring files  after a successful connection -->
        <service
            android:name=".util.network.FileTransferService"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.edgesum.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>